

.nav-container{    
    background-color: #d6ccc4;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.logo{
    width: 200px;
}

.toggle{
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 3;
    background-color: white;
}

ul{
    list-style: none;
}

.links{
    text-align: center;
}

.links a li{
    margin-top: 10px;
    color: black;
    width: 100%;
    border-bottom: 1px solid grey;
    padding: 10px;
}

.hamburger-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.hamburger{
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
}

.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container input{
    border-radius: 6px;
    outline: none;
    border: none;
    box-shadow: none;
    height: 30px;
    width: 100%;
    padding: 5px;

}

.search-container div{
    margin: 5px;
}

.search-icon{
    font-size: 18px;
    cursor: pointer;
}

.icons-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    font-size: 18px;
    margin: 10px;
    
}

.account-container{
    display: flex;
    justify-content: flex-end;
    padding: 6.5px;
}

.account-container a{
    margin-right: 5px;
    margin-left: 5px;
    text-decoration: underline;
    font-size: 14px;
}

.show{
    display: none;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;

}

@media screen and (min-width: 1024px){
    .desk-links {
        position: relative;
        display: inline-block !important; /* Override inline style */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .links {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        
    }

    .links a li {
        margin-right: 60px; 
        border-bottom: none;
    }

    .desk-links-box{
        height: 100%;
    }

    .hamburger-container{
        display: none;
    }

    .search-container input{
        min-width: 100px;
    }
    .icons-container{
        margin-right: 10px;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .icons-container div{
        margin: 5px;
    }
    .account-container{
        display: none;
    }

    .show{
        display: inline-block;
        display: flex;
        
    }
    .show a{
        margin-right: 5px;
        margin-left: 5px;
        text-decoration: underline;
    }
    .toggle{
        background-color: #d6ccc4;
    }
}


