.carousel-product-container{
    height: 350px;
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    margin: 5px;
    align-items: center;
}

.product-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    justify-content: space-between;
}

.next-icon, .prev-icon{
    position: absolute;
    top: 50%;
    color: #d6ccc4;
    transform: translateY(-50%);
    z-index: 1;
    
}

.next-icon{
    right: 0;
}

.prev-icon{
    left: 0;
}

