
.product-container{
  
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.product-image{
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.product-choice{
    display: flex;
    justify-content: end;
    align-items: end;
}

.add-icon{
    color: white;
    font-size: 25px;
    margin: 10px;
    text-shadow: 3px 3px 6px black;
    cursor: pointer;
}

.heart{
    color: white;
    

}
